@media (max-widtht:999px) {

    body {
        overflow: hidden;
    }

    .nav-item {
        position: absolute;
        top: 8vh;
        right: 0;
        width: 50vw;
        height: 92vh;
        background: rgb(61, 14, 61);
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
    }

    .nav-item {
        margin-left: 0;
        opacity: 0;
    }

    .mobille_menu {
        display: block;
    }
}

.nav-item.active {
    transform: translateX(0);
}

html {
    height: 100%;
}

body {
    background: black!important;
    margin: 0%;
    width: 2000px;
    max-width: 100%;
    height: max-content;
    position: relative;
    padding: 0%;
    font-family: sans-serif;
    display: inline-block;

}

.barra {
    background-color: rgb(82, 16, 82);
    max-width: 2000;
    margin-inline-start: 10px;
    padding: 5px;
    text-align: center;

}

.navbar-brand {
    position: relative;
    max-width: 50%;
    align-items: center;
    color: bisque;

}


.nav-item {
    position: relative;
    box-sizing: border-box;
    display: flex;
    vertical-align: top;
    padding: 10px;
    font-size: 100%;
    color: bisque;
    letter-spacing: 0px;
    margin-left: 10px;

}

.collapse {
    box-sizing: content-box;
    text-align: unset;
    padding-top: 15px;
    margin-top: 15px;
}

.d-flex {
    padding-top: 10px;
}

.navbar-light .navbar-nav .nav-link {
    color: bisque !important;
    font-style: oblique;
}


.login-box {
    position: relative;
    display: inline-block;
    top: 0px;
    height: 400px;
    width: 35%;
    padding: 100px;
    padding-top: 10px;
    border-radius: 15px;
    background: linear-gradient(#1a011d, #0d040e);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(51, 2, 47, 0.6);

}

.cadastro-box {
    position: relative;
    display: inline-block;
    top: 40px;
    height: 400px;
    width: 35%;
    padding: 100px;
    padding-top: 40px;
    margin-left: 200px;
    border-radius: 15px;
    background: linear-gradient(#1a011d, #0d040e);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(51, 2, 47, 0.6);
}

.login-box h2{
    margin: 0 0 30px;
    padding: 0;
    color: bisque;
    text-align: center;

}

.cadastro-box h2{
    margin: 0 0 30px;
    padding: 0;
    color: bisque;
    text-align: center;

}

.login-box .user-box{
    position: relative;
    display: inline-block;

}

.cadastro-box .user-box{
    position: relative;
    display: inline-block;

}

.login-box .user-box input{
    width: 100%;
    padding: 10px ;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
    display: inline-block;
}

.cadastro-box .user-box input{
    width: 100%;
    padding: 10px 0px 0px;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
    display: inline-block;
}

.login-box .user-box label{
    position: absolute;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}

.cadastro-box .user-box label{
    position: absolute;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label{
    top: -20px;
    left: 0;
    color: black;
    font-size: 12px;
}

.cadastro-box .user-box input:focus ~ label,
.cadastro-box .user-box input:valid ~ label{
    top: -20px;
    left: 0;
    color: black;
    font-size: 12px;
}

.login-box form a {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: bisque;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px;
    margin-left: -15px;
}
.cadastro-box form a {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: bisque;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 30px;
    letter-spacing: 4px;
    margin-left: -25px;
}

.login-box a:hover{
    background: bisque;
    color: #1a011d;
    border-radius: 5px;
    box-shadow: 0 0 5px #fff;

    }

    .cadastro-box a:hover{
        background: bisque;
        color: #1a011d;
        border-radius: 5px;
        box-shadow: 0 0 5px #fff;
    
        }

.login-box a span{
    position: absolute;
    display: block;
}

.cadastro-box a span{
    position: absolute;
    display: block;
}

.login-box a span:nth-child(1){
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #1a011d);
    animation: btn-anima1 1s linear infinite;
}